body {
    background-color: bisque;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

header {
    background-color: #dcb084;
    padding-top: 10px;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #dcb084;
    color: white;
    padding: 10px;
}


/* styles for normal/regular sized screens */
#header {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Adjust margin as needed */
    text-decoration: none;
}

.nav-pills {
    justify-content: flex-end;
}

#logo {
    margin-right: 7px; /* Adjust margin as needed */
    padding-right: 7px;
    width: auto;
    height: 20px;
}

span.fs-4 {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: black;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

.nav-item:active,
.active-link {
    background-color: bisque;
}

.nav-item {
    transition: background-color 0.05s ease;
}

.nav-item:hover {
    background-color: bisque;
    border-radius: 6px;
}

.todoButton {
    transition: background-color 0.5s ease;
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-right: 2px;
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    padding: 5px; /* Add padding to see the effect more clearly */
}

.editInput {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 6px;
}

.okButton {
    transition: background-color 0.5s ease;
    display: block;
    box-sizing: border-box;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    padding: 5px; /* Add padding to see the effect more clearly */
}

.okButton:hover {
    background-color: hsl(32, 100%, 80%);
}

#submitButton {
    padding: 6px;
    background-color: white;
}

.todoButton:hover {
    cursor: pointer;
    background-color: hsl(32, 100%, 80%);
}

#itemShown {
    list-style: none;
}

#header {
    margin-right: 5px;
}

#theForm {
    display: flex;
    border: 1px solid black;
    background-color: white;
    border: 1px solid #333; /* Border color */
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    padding: 5px; /* Add padding to see the effect more clearly */
}

#listItem {
    border: none;
    border-right: 3px solid lightgray;
}

textarea {
    resize: none;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
    width: 100%;
    overflow-y: hidden;
    height: auto;
}

.listedItems {
    height: auto;
    resize: none;
    margin: 0;
    border: 1px solid #333; /* Border color */
    border-radius: 10px; /* Adjust the radius value to control the roundness */
    padding: 5px; /* Add padding to see the effect more clearly */
    word-wrap: break-word;
    outline: none;
    width: 100%;
    overflow-y: hidden;
    background-color: white;
}

.todoItemListButtons {
    display: flex;
    flex-direction: row;
}

@media (prefers-color-scheme: dark) {
    /* Dark mode styles */
    body {
      background-color: #333333;
      color: white;
    }
    header, footer {
        background-color: #404040;
    }
    span.fs-4 {
        color: white;
    }
    .nav-link {
        color: white;
    }
    .nav-link:hover {
        color: white;
    }
    .nav-item:active,
    .active-link {
        background-color: #6C6C6C;
    }
    .nav-item:hover, .todoButton:hover, .okButton:hover {
        background-color: #6C6C6C;
    }
    #theForm, #listItem, #submitButton, .listedItems, .editInput, .okButton {
        background-color: inherit;
        color: inherit;
    }
    #theForm, .todoItemList {
        border: 2px solid black;
        border-radius: 10px;
    }
    #listItem {
        border-right: 3px solid black;
    }
    .todoItemList {
        padding: 6px;
    }
    .todoItemListButtons {
        border-top: 1px solid black;
    }
}

@media screen and (max-width: 310px) {
    /* Styles for screens 310px and smaller */
    #header {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center-align items */
        text-align: center; /* Center-align text */
        margin-bottom: 10px; /* Add some spacing between links */
    }
    h1 {
        font-size: 1.2rem;
    }
    #logo {
        width: 20%;
    }
    span.fs-4 {
        width: 100%;
    }
    .nav-item {
        width: 100%;
    }
    #submitButton {
        padding: 0px; /* Adjust padding for smaller screens */
        font-size: 0.8rem;
    }
}

body.dark-mode {
    background-color: red;
    color: green;
}